<launch>
  <!-- Ridgeback configuration to view. See ridgeback_description for details. -->
  <arg name="config" default="base"/>
  <arg name="namespace" default="/"/>
  <arg name="robot_name" default=""/>

  <include file="$(find ridgeback_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <group ns="$(arg namespace)">
    <param name="use_gui" value="true"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ridgeback_viz)/rviz/model.rviz" />
  </group>
</launch>
